<!DOCTYPE html>
<html lang="en">
<!-- views/partials -->
<head> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


</head>
<body>
<header>

<nav id="nav-bar">

  <h1 class="text-center"> Clippit </h1>

  <% if (locals.user) { %>

      <form action="/logout" method="POST">
          <span class="float-left">
            <button type="submit" class="btn btn-primary">Logout</button>
          </span>
      </form>

      <form action="/resources/me" method="GET">
        <span class="float-left">
          <button type="submit" class="btn btn-primary">My Resources</button>
        </span>
    </form>

    <form action="/resources/new" method="GET">
      <span class="float-left">
        <button type="submit" class="btn btn-primary">Add Resources</button>
      </span>
    </form>

    <form action="/users/me" method="GET">
      <span class="float-left">
        <button type="submit" class="btn btn-primary">Update Profile</button>
      </span>
    </form>

    <form class="form-inline" action="/resources" method="GET">
      <div class="form-group mb-2">
        <label for="search"></label>
        <input class="form-control" type="text" name="search" placeholder="Search..." style="width: 300px; margin: 1em">
      </div>
      <div class="form-group mb-2">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>


      <em class="float-left">Hello <%=name%> !</em>


  </nav>

  <% } else { %>

<!-- Already have an account?  -->
<strong><a href="/login">Login</a></strong>

|
<!-- Not yet a member? -->
<strong><a href="/register">Register</a></strong>

  <% } %>



<br>


<br>

</header>


