
<!-- views/partials -->


<header>
 

  <h1> Clippit </h1>


  <% if (locals.user) { %>

      <form class="form-inline" action="/logout" method="POST">
          <div class="form-group mb-2">
            <button type="submit" class="btn btn-primary">Logout</button>
          </div>
      </form>

      <form class="form-inline" action="/resources/me" method="GET">
        <div class="form-group mb-2">
          <button type="submit" class="btn btn-primary">My Resources</button>
        </div>
    </form>

      <em>Hello <%=name%> !</em>
  <% } else { %>

<!-- Already have an account?  -->
<strong><a href="/login">Login</a></strong>

|
<!-- Not yet a member? -->
<strong><a href="/register">Register</a></strong>

  <% } %> 
      
      
<br>


<br>

  
  


</header>


