
<!-- views/partials -->


<header>


  <h1> Clippit </h1>


  <% if (locals.user) { %>

      <form class="form-inline" action="/logout" method="POST">
          <div class="form-group mb-2">
            <button type="submit" class="btn btn-primary">Logout</button>
          </div>
      </form>

      <form class="form-inline" action="/resources/me" method="GET">
        <div class="form-group mb-2">
          <button type="submit" class="btn btn-primary">My Resources</button>
        </div>
    </form>

    <form class="form-inline" action="/resources/new" method="GET">
      <div class="form-group mb-2">
        <button type="submit" class="btn btn-primary">Add Resources</button>
      </div>
    </form>

    <form class="form-inline" action="/users/me" method="GET">
      <div class="form-group mb-2">
        <button type="submit" class="btn btn-primary">Update Profile</button>
      </div>
    </form>

      <em>Hello <%=name%> !</em>
  <% } else { %>

<!-- Already have an account?  -->
<strong><a href="/login">Login</a></strong>

|
<!-- Not yet a member? -->
<strong><a href="/register">Register</a></strong>

  <% } %>

<form class="form-inline" action="/resources" method="GET">
  <div class="form-group mb-2">
    <label for="search"></label>
    <input class="form-control" type="text" name="search" placeholder="Search..." style="width: 300px; margin: 1em">
  </div>
  <div class="form-group mb-2">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>

<br>


<br>

</header>


