<!DOCTYPE html>
<html lang="en">
<!-- views/partials -->
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- This is for the icon image library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />




</head>
<body>
<header>

  <div class="text-center">
    <img class="logo" src="/images/clippit-logo-dark.png" alt="Clippit Logo" />
    <h1 id="clippit-header" class="make-inline"> Clippit </h1>
  </div>

  <% if (locals.user) { %>
  <nav id="nav-bar">

    <h3 class="text-right">Hello, <%=name%> !</h3>

  <div class="make-flex">
    <div>
      <!-- Home button -->
      <form class="make-inline" action="/resources" method="GET">
          <button type="submit" class="btn btn-primary small-button"><i class="fas fa-home"></i></button>
      </form>

      <!-- My Resources Button -->
      <form class="make-inline" action="/resources/me" method="GET">
          <button type="submit" class="btn btn-primary small-button">My Resources</button>
      </form>

      <!-- Add Resources Button -->
      <form class="make-inline" action="/resources/new" method="GET">
          <button type="submit" class="btn btn-primary small-button">Add Resources</button>
      </form>
    </div>

    <div>
      <!-- Search Button -->
      <form class="form-inline right-side" action="/resources" method="GET">
        <div class="form-group mb-2">
          <label for="search"></label>
          <input class="form-control no-margin" type="text" name="search" placeholder="Search...">
        </div>
        <div class="form-group mb-2">
          <button type="submit" class="btn btn-primary small-button"><i class="fas fa-search"></i></button>
        </div>
      </form>
    </div>

    <div>
      <!-- Update Button -->
      <form class="make-inline" action="/users/me" method="GET">
        <!-- <span class="float-left"> -->
          <button type="submit" class="btn btn-primary small-button">Update Profile</button>
        <!-- </span> -->
      </form>

      <!-- Logout Button -->
      <form class="make-inline" action="/logout" method="POST">
          <!-- <span class="float-left"> -->
            <button type="submit" class="btn btn-primary small-button">Logout</button>
          <!-- </span> -->
      </form>
    </div>
  </div>



  </nav>

  <% } else { %>

<!-- Already have an account?  -->
<div class="make-flex">
  <div class="make-inline">
    <form class="make-inline" action="/login" method="GET">
      <button type="submit" class="btn btn-primary small-button">Login</button>
    </form>
  

<!-- Not yet a member? -->
  <form class="make-inline" action="/register" method="GET">
    <button type="submit" class="btn btn-primary small-button">Register</button>
  </form>
  </div>
</div>

  <% } %>

</header>


