
<title>Login</title>

  <% include ./partials/_header %>

    <div class="wrapper-login">
      <h2>Login</h2>
      <form class="form-inline make-column" action="/login" method="POST">
        <div class="form-group">
          <strong><label for="email address">Email address:</label></strong>
          <input class="form-control" type="email" name="email" placeholder="name@somewhere.com" style="width: 400px; margin:1em; margin-left: 2em" required>
        </div>
        <div class="form-group">
          <strong><label for="password">Enter password:</label></strong>
          <input class="form-control" type="password" name="password" placeholder="password" style="width: 400px; margin: 1em" required>
        </div>    
        <button type="submit" class="btn btn-primary">Login</button>        
      </form>
    </div>
  </body>
</html>
