
<!-- views/partials -->


<header>
 

  <h1> Clippit </h1>


  <% if (locals.user) { %>
      <form class="form-inline" action="/logout" method="POST">
          <div class="form-group mb-2">
            <button type="submit" class="btn btn-primary">Logout</button>
          </div>
      </form>
      <em>Hello <%=user["email"]%> !</em>
  <% } else { %>
      <!-- <form class="form-inline" action="/login" method="POST">
      <div class="form-group mb-2">
        <label for="username">Enter username:</label>
        <input class="form-control" type="text" name="username" placeholder="username" style="width: 300px; margin: 1em">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
  </form> -->

<!-- Already have an account?  -->
<strong><a href="/login">Login</a></strong>

|
<!-- Not yet a member? -->
<strong><a href="/register">Register</a></strong>

  <% } %> 
      
      
<br>


<br>

  
  


</header>


