<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


 <!-- This is for the icon image library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />


  <title>Clippit</title>
</head>

<header>

        <% include ./partials/_header %>

</header>


<body>
    <!-- Add EJS code here -->

    <a href="<"></a>


        <h4>Clippit is here!!!</h4>

       This is the page for ONE resource where you can comment, rate, etc.

       <h2>Resource</h2>
       <div class="resource">
        <form action="/resource/:id" method="GET">
            <div class="title-area">
              <h4><%= rows[0].title; %></h4>
            </div>
            <p><%= rows[0].description; %></p>
            <a href="<%= rows[0].url; %>" target="_blank"><%= rows[0].title; %></a>
            
            
            <p>
              <i class="far fa-heart"></i>
              <i class="far fa-star"></i>
              <i class="far fa-comment-dots"></i>
            </p>
            <!-- <form id="send-tweet" method="POST" action="/tweets/"> -->
              <textarea name="text" placeholder="What opinion about this resource do you want the world to know?"></textarea>
              <!-- <p class="tweetExceed"> Text must not exceed 140 characters </p> -->
              <input type="submit" value="Tweet">
              <!-- <span class="counter">140</span> -->
            </form>





        </form>
      </div>


</body>





</html>
