<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


  <title>Clippit</title>
</head>

<header>

        <% include ./partials/_header %>

</header>


<body>
    <!-- Add EJS code here -->

    <a href="<"></a>


        <h4>Clippit is here!!!</h4>

       Make this page show the main resources page

       <h2>Resource</h2>
        <form action="/resource/:id" method="GET">
          <div class="resource">
            <div class="title-area">
              <h4><%= rows[0].title; %></h4>
            </div>
            <p><%= rows[0].description; %></p>
            <a href="<%= rows[0].url; %>" target="_blank"><%= rows[0].title; %></a>
          </div>
        </form>


</body>





</html>
