
<title>Update Profile</title>

      <% include ./partials/_header %>
  <div class="wrapper">  
    <h2>Update my Profile</h2>
    <form class="form-inline make-column" action="/users/me" method="POST">
      <div class="form-group">
        <strong><label for="name">Update Name:</label></strong>
        <input class="form-control" type="text" name="name" placeholder="Name" style="width: 400px; margin: 1em; margin-left: 3em;" maxlength="255" value="<%= name %>" required>
      </div>
      <div class="form-group">
        <strong><label for="email">Update Email:</label></strong>
        <input class="form-control" type="text" name="email" placeholder="Email" style="width: 400px; margin: 1em; margin-left: 3em;" maxlength="255" value="<%= email %>" required>
      </div>
      <div class="form-group">
        <strong><label for="password">Update Password:</label></strong>
        <input class="form-control" type="password" name="password" placeholder="Please enter your new password" style="width: 400px; margin: 1em" maxlength="255" required>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
  </form>
  </body>
</html>
