/* General Layout */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #EEE;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  color: #244751;
}

h3 {
  font-size: 1.5rem;
}

h6 {
  font-size: 0.8rem;
}

.make-flex {
  display: flex;
  justify-content: space-between;
}

.right-side {
  justify-content: flex-end;
}

.no-margin {
  margin: 0;
}

.make-inline {
  display: inline-block;
}

.wrapper {
  margin-top: 220px;
  padding: 40px;
}

.wrapper-login {
  margin-top: 180px;
  padding: 40px;
}

.make-column {
  flex-direction: column;
  align-items: flex-start;
}

.container {
  margin-top: 250px;
}

.fa-heart, .fa-star, .fa-comment-dots {
  cursor: pointer;
  padding: 10px;
}

.small-button {
  font-size: 0.75rem;
}

/* Header styles */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-image: linear-gradient(#bfd8d8, #56ab98);
  color: #0c2e31;
  z-index: 1;
}

header > * {
  padding: 1em 2em 1em 2em;
}

#clippit-header {
  font-size: 4em;
  letter-spacing: -2px;
  color: darkblue;
  text-transform: uppercase;
  margin: 0;
}

.logo {
  height: 5em;
  width: auto;
  top: -20px;
  vertical-align: top;
}

/* Resources Layout */
.resource {
  border: 1px solid black;
  vertical-align: top;
}

.title-area {
  background-color: #22c3e8;
  height: 75px;
}

.fa-heart, .fa-star, .fa-comment-dots {
  cursor: pointer;
}

.resource-card {
  background-color: #dedede;
  border-radius: 8px;
  margin-bottom: 12px;
  overflow: hidden;
}

.resource-title {
  margin: 0;
  background-color: #D8BFD8;
  min-height: 120px;
  padding: 8px;
  font-size: 20px;
}

.resource-description {
  min-height: 120px;
  padding: 8px;
  font-size: 10px;
}

.comments {
  padding: 0 20px;
}

.comment-card {
  border-radius: 8px;
}

.comment-card-body {
  padding: 5px;
}

.icons {
  font-size: 20px;
}

/* Button Styles */
.small-button {
  font-size: 0.75rem;
}

.small-top-margin {
  margin-top: 10px;
}
