body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

.resource {
  border: 1px solid black;
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.title-area {
  background-color: #22c3e8;
  height: 75px;
}
