html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  background-color: #EEE;
}

h1 {
    color: #244751;
}

.logo {
  text-align: center;
}


.resource {
  border: 1px solid black;
  vertical-align: top;
}

.title-area {
  background-color: #22c3e8;
  height: 75px;
}

.fa-heart, .fa-star, .fa-comment-dots {
  cursor: pointer;
  // padding: 5px;
}

#nav-bar {
  position: fixed;
  top: 0;
  padding: 0 2em 0 2em;
  width: 100%;
  background-color: #83b6bd;
  color: #0c2e31;
  z-index: 1;
}

.make-flex{
  display: flex;
  justify-content: space-between;
}

.right-side {
  justify-content: flex-end;
}

.no-margin {
  margin: 0;
}

.make-inline {
  display: inline-block;
}
