html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  background-color: #EEE;
  font-family: 'Quicksand', sans-serif;
}

h1 {
    color: #244751;
}

#clippit-header {
  font-size: 5em;
  letter-spacing: -2px;
  color: darkblue;
  border-bottom: 2px solid black;
  text-transform: uppercase;
}


.logo {
  height: 100px;
  width: auto;
  background-color: #D8BFD8;
}

.resource {
  border: 1px solid black;
  vertical-align: top;
}

.title-area {
  background-color: #22c3e8;
  height: 75px;
}

.fa-heart, .fa-star, .fa-comment-dots {
  cursor: pointer;
  padding: 10px;
}

#nav-bar {
  position: fixed;
  top: 0;
  padding: 0 2em 0 2em;
  width: 100%;
  background-color: #D8BFD8;
  color: #0c2e31;
  z-index: 1;
}

.make-flex{
  display: flex;
  justify-content: space-between;
}

.right-side {
  justify-content: flex-end;
}

.no-margin {
  margin: 0;
}

.make-inline {
  display: inline-block;
}

.wrapper {
  margin-top: 125px;
  padding: 40px;
}

.make-column {
  flex-direction: column;
  align-items: flex-start;
}

.resource-card {
  background-color: #dedede;
  border-radius: 8px;
  margin-bottom: 12px;
  overflow: hidden;
}

.resource-title {
  margin: 0;
  background-color: #D8BFD8;
  min-height: 120px;
  padding: 8px;
  overflow-y: scroll;
  font-size: 20px;
}

.resource-description {
  min-height: 120px;
  padding: 8px;
  font-size: 10px;
  overflow-y: scroll;
}

.comments { 
  padding: 0 20px;
}

.comment-card {
  border-radius: 8px;
}

.comment-card-body {
  padding: 5px;
}

.icons {
  font-size: 20px;
}